<div class="container">
 <!--DOnt Touch ME-->



      <div fxLayout="column"fxLayoutGap="50px" >


<!--fundoo Icon and Progress Bar-->
        <div>
          <div fxLayout="row">
            <div class="fundoo_btn" >
              fundoo notes
            </div>
            <div>
              progress bar
            </div>
           </div>

        </div>
<!--fundoo Icon and Progress Bar-->
<!--Shopping status-->
      <div fxLayout="column">  
        <div fxLayout="row" fxLayout.xs="column"fxLayout.sm="column">
          <div fxFlex=75 fxFlex.xs=100 fxFlex.sm=100 >
              <div fxLayout="row">
                  <div fxFlex=70 class="shopping_cart">Shopping Cart</div>
                  <div fxFlex=15> price</div>
                  <div fxFlex=10>validity</div>
              </div>
          <hr>
           <div fxLayout="row">
             <div fxFlex=70  > 
              <div fxLayout="row">
                  <div fxFlex=30 > 
                    <mat-card class="card_type"></mat-card> </div>
                  <div fxFlex=5>   </div>
                  <div fxFlex=65 > <ul type="solid circle">Advance card Details
                                        <li>Unlimited notes</li>
                                        <li>Reminder support</li>
                                        <li>collaborate notes</li>
                                        <li>32 colors</li>
                                  </ul> 
                  </div>
              </div>
            </div>
             <div fxFlex=15  > <span class="red_text" >$6.99</span></div>
             <div fxFlex=15  ><i>per month</i> </div>

           </div>



          <hr>
          </div>




          <div fxFlex=2></div>
          <div fxFlex=23>
            
              <div class="subtotal" fxLayout="column">
                <div fxFlex=50 class="subtotal_item" fxLayoutAlign="center "> Subtotal(1 item)= <span class="red_text">$6.99</span></div>
                <div fxFlex=40 fxLayoutAlign="center"><button class="proceed_to_checkout" mat-raised-button color="primary">
                    proceed to checkout </button></div>
                <div fxFlex=10></div>
              </div>
            </div>
          
        
          
         
        </div>
      </div>
<!--Shopping status-->



      </div>













































 <!--DOnt Touch ME-->
</div>
