.container{
    margin-top:100px
}
//don touch me


.fundoo_btn{
    // border:solid 2px black;
    border-radius: 20px;
    width:100px;
    background-color: #fb0;
    color:white;
    padding:10px 10px 10px 10px
}
.shopping_cart{
   
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
   
    
}
.subtotal{
    // border:solid 2px black;
    // margin:10px;
    width:250px;
    height:100px;
    background-color: rgba(128, 128, 128, 0.356)

}
.proceed_to_checkout{
    
    height:35px
}
// .subtotal_item{

// }
.red_text{
    color:rgb(207, 24, 24);
}
.card_type{
 height:70px;
 width:80px;  
 background-color: rgba(128, 128, 128, 0.644);
 border-radius: 10px
}
.subtotal{
    margin-top:25px
}