// scss variables userd throughout the component
$border-radius:100%;
$background-color:#fb0;
//-----------------------------
// @media only screen and (min-width: 200px) and  (max-width: 600px){
//   .searchbar {
  

//     background: rgba(80, 80, 79, 0.096);
//     border: none;
//     font: normal 20px Roboto,sans-serif;
//     font-variant-ligatures: none;
//     height: 50px;
//     outline: none;
//     padding: 11px 16px 11px 16px;
//     box-sizing: border-box;
//     width:1em;
   
  
//   }
// }

@import "../../../scss/mixing.scss"; 


.sidenav-container {
  height: 100%;
}

.sidenav {
  $background-color:rgb(230, 230, 215);
  background:$background-color;
  width: 300px;
  padding-top:60px;
  position: fixed;
  
}
.toolbar{
 
  background-color:$background-color;
  height:70px;
  position:fixed;
  z-index: 2
  
}
.endbutton{
  display:flex;
  
}
.title1{
  font-size: 28px;
  // padding-left:10px;
  // padding-right:10px; 
  font-family: 'Product Sans',Arial,sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
    

}
.start_2{
  width: 250px!important;
 
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
}

.spacer{
  padding-right: 50px
}
.searchbar {
  

  background: rgba(80, 80, 79, 0.096);
  border: none;
  font: normal 20px Roboto,sans-serif;
  font-variant-ligatures: none;
  height: 50px;
  outline: none;
  padding: 11px 16px 11px 16px;
  box-sizing: border-box;
  width:stretch;
 

}
input:focus{
  $background-color:white;
  background-color:$background-color;
}
.menu{
  $background-color:rgb(255, 255, 255);
  background-color:$background-color;


}
.img{
  opacity: .54;
  
}
.sidebar_list{
  height:70px;
}
.space_sidebar{
  padding-left:36px;
}

.sidebar_height{
  height:50px;
}
.search_flex{
  flex: 1 1 auto;
}
.mat-drawer-content {
  position: relative;
  
  display: block;
  height: 100%;
  overflow: auto;
  $background-color:rgb(255, 255, 255);
  background-color:$background-color;
}
.line{
  opacity:1;
}
.signout{
/* width:9px; */
height:150px
}
.mat-menu-content {
  $background-color:rgb(255, 255, 255);
  background-color:$background-color;
}
.labels{
  padding-left: 20px;
  font-family: 'Roboto',arial,sans-serif;
}
.spacer_last{
  padding-bottom: 50px;
}
.sidenav_last{
  font-size: 14px;
  padding-left: 40px;
}
.sidenav_last1{
  font-size: 14px;
  
}
.signup_avatar{

  border-radius: $border-radius;
  width:10px;
  height:10px;
  $background-color:rgba(152, 235, 19, 0.808);
  background:$background-color;
  font-size: 15px;
}
.child-links{
  padding-left:20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
}
.name_onscreen{
  font-size: 25px;
  font-weight:300;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.mail{
  font-weight:200;
  font-size: 18px;
  word-break:break-all;
}
.fabicon{
  font-size:20px;
}
.testButton1
{

height:10%;
 width: 25%
}

.testButton1 img
{
height:80%;
vertical-align:middle;
}
.profilebutton{
  width:100px; 
  height:100px; 
  border: none;
 border-radius: 50%;
 background:white;
 
}
.profilebutton2{
  width:50px; 
  height:50px; 
  border: none;
 border-radius: 50%;
 background: transparent;
 outline:none;
 
}
.change_btn{
  $background-color:rgba(0, 0, 0, 0.171);
  background-color:$background-color;
  margin-top:30px;
  height:20px;
  width:75px;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  z-index: 1;
  margin-top:70px;
  
  
  font-size:10px;


}
.name{
  font-size: 20px;
  word-break: break-all;
}
::ng-deep.mat-selection-list {
  padding-top: 50px;
  display: block;
  -webkit-tap-highlight-color: transparent;
}
.mat-nav-list a.active {
  $background-color:rgba(121, 110, 110, 0.445);
  background:$background-color;
  border-top-right-radius: 25% $border-radius;
  border-bottom-right-radius: 25% $border-radius;
  }

