<!------fundoo Dashboard(Toolbar & sidebar )------->
<mat-toolbar class="toolbar">
  <div>
    <button type="button" aria-label="Toggle sidenav" mat-icon-button 
            (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </div>
  <div>
    <span class="title">{{changeName}} </span>

  </div>
  <img class="img" src="../../../assets/images/search.svg" fxHide.xs="false">

  <!--    ----        Search bar  starts      -----  -->
  <div class="search_flex" routerLink="/home/search" fxShow.xs=false fxShow.sm=true
       fxShow.md=true fxShow.lg=true fxShow.gt-xs=true>
    <input class="searchbar" matTooltip="Search Bar" aria-label="Search" 
           autocomplete="off" placeholder="Search" value=""
           name="q" role="combobox" type="text" aria-hidden="false" 
           [(ngModel)]="body.data" (keyup)="onKeyUp($event)">
  </div>
  <!--    ----        Search bar  Ends        -----        -->


  <!--    ----        side bar starts       -----        -->
  <div>
    <div fxLayoutAlign="end end" fxLayout="row wrap">
      
      <span class="left_icons" fxLayoutAlign="end end">
        <button aria-label="Toggle sidenav" mat-icon-button aria-label="Toggle sidenav"  >
          <mat-icon matTooltip="switch to list" (click)="listView()" *ngIf="view==0" 
                    aria-label="Side nav toggle icon" >view_stream</mat-icon>
          <mat-icon matTooltip="switch to grid" (click)="gridView()" *ngIf="view==1"
                    aria-label="Side nav toggle icon" >view_module</mat-icon>
        </button>
        <button aria-label="Toggle sidenav" mat-icon-button aria-label="Toggle sidenav">
          <mat-icon matTooltip="Notifications" aria-label="Side nav toggle icon">
                notifications
          </mat-icon>
        </button>
        <button aria-label="Toggle sidenav" mat-icon-button aria-label="Toggle sidenav">

          <mat-menu #appMenu="matMenu" [overlapTrigger]="false">

            <div fxLayoutAlign="row wrap">
              <div fxFlex=40>
                <button class="profilebutton" (click)="$event.stopPropagation()" 
                        [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}"
                  (click)="selectFile.click()" matTooltip="fundoo Account" 
                  mat-mini-fab style="background-color:#fb0;float:right;color:white;text-transform:uppercase">
                  <div class="change_btn"><p class="change_btn">change</p></div>
                </button>
                
                <input style="display:none" (click)="$event.stopPropagation()" class="image" type="file" 
                        (change)="onFileUpload($event)" #selectFile>
              </div>
              <mat-content fxFlex class="contentstyle" style="margin-top:5px;float:left">
              <div>
                  <div class="name">{{firstName | titlecase}}
                       {{lastName | titlecase}}</div>
                  <div><p class="mail"> {{email}}</p></div>
              </div>
               </mat-content>
                

            </div><br>
            

            <mat-content class="contentstyle">{{raw_data}}</mat-content>
            <hr>

            <button class="signup_button" mat-raised-button color="primary" style="float:right" (click)="logout()">Logout</button>
          </mat-menu>


          <button mat-icon-button [matMenuTriggerFor]="appMenu">

            <button class="profilebutton2" [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}">

            </button>
          </button>
          <!------------ profile-pic upload   ends  ---------------->
        </button>
      </span>
    </div>
  </div>



</mat-toolbar>
<!-------------------sidenav-Bar------------------------->
<mat-sidenav-container class="sidenav-container" hasBackdrop="false">

  <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
         [mode]="(isHandset$ | async) ? 'over' : 'side'"
         [opened]="!(isHandset$ | async)">

    <mat-nav-list>


      <a  (click)="nameChange('Fundoo')"mat-list-item routerLink="/home/notes" routerLinkActive="active">
        <img class="img"  src="../../../assets/images/notes.svg">
        <span class="space_sidebar"> Notes</span> 
      </a>
      <a  (click)="nameChange('Reminders')" mat-list-item routerLink="/home/reminders" routerLinkActive="active">
        <img class="img" src="../../../assets/images/reminders.svg">
        <span class="space_sidebar"> Reminders</span>
      </a>
      <hr class="line">
      <div>
        <span fxLayoutAlign="space-between center">
          <p class="labels">Labels<p> 
        </span>
        <span>
          <a (click)="nameChange(labels.label)"  mat-list-item *ngFor="let labels of notes" (click)="lablelist(labels)" routerLinkActive="active" >
            <mat-icon>label_outline</mat-icon><span  class="child-links" >{{labels.label}}</span>
          </a>
        </span>

        <span fxLayoutAlign="center center"> <a mat-list-item (click)=openDialog()>
            <img src="../../../assets/images/add.svg">Create
            new Label</a></span>

      </div>
      <hr>
      <a (click)="nameChange('Archive')" mat-list-item routerLink="/home/archive" routerLinkActive="active"><img class="img" 
         src="../../../assets/images/archive.svg">
        <span class="space_sidebar">
          Archive</span></a>
      <a (click)="nameChange('Trash')" mat-list-item routerLink="/home/trash" routerLinkActive="active"><img class="img"
          src="../../../assets/images/trash.svg">
        <span class="space_sidebar">Trash</span></a>
      <hr>

      
      <div>
        
        <span> <a href="#">
            <p class="sidenav_last"> Open source licenses</p>
          </a></span>

      </div>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>


    <router-outlet> </router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>
<!-------------------sidenav-Bar------------------------->
<!---------------------fundoo Dashboard(Toolbar & sidebar )---------------->