@media only screen and (min-width: 200px) and  (max-width: 600px){
    .pannel{
        width:100%;
        margin-top:50px;
        box-shadow: 0 10px 10px rgba(0,0,0,0.20);
        border-radius: 5px;
        height:30px;
        flex:auto;
    }
    .pannel2{
        border-radius: 15px;
        margin-top:50px;
        width:100%;
        box-shadow: 0 10px 10px rgba(0,0,0,0.20);
        flex:auto;
    
    }
}
@media only screen and (min-width: 601px) and  (max-width: 3000px){
    .pannel{
    
        margin-top:50px;
        width:34em;
        box-shadow: 0 10px 10px rgba(0,0,0,0.20);
        border-radius: 5px;
        height:30px;
        flex:auto;
    }
    .pannel2{
        border-radius: 15px;
        margin-top:50px;
        width:34em;
        box-shadow: 0 10px 10px rgba(0,0,0,0.20);
        flex:auto;
    
    }
}




[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.area_content{
    width:100%;
    
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-size: 20px;
    outline: none;
   
   

}
.margin{
    margin:auto;
}



.colorPalette {
    border-radius: 100%;
    outline: none;
    border: none;
    width: 0px;
    height: 30px;
  }
  .fundoo33 {
    margin-left: 0px;
    opacity: 0.5;
  }
//   .colorCard {
//     left: 331px;
//     margin-top: -692px;
//     width: 144px;
//     padding: 3px;
//   }
  .colorDiv{
    margin-bottom:5px;
    display:flex;
  }
  .pannel3{
    width:100%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.20);

  }
  .area_content2 {
    width: 100%;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-size: 20px;
    outline: none;
    border:transparent;
    border:none;
    padding-top:10px;
  }
  .inputchecklist{
      border:none;
      outline:none;
      background: transparent;
      

  }
  
.items
{
    margin-bottom: 10px;
}
