<!-- add Note collection-->
<div  fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="10%" > </div> 
        <div fxFlex="80% "  > 
<!--------------collaborator pannel ------------------------>
<div fxLayout='column' class="card" fxLayoutAlign="center center" style="margin-top:100px">
<div *ngIf="!collab" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
        <mat-card  class="pannel2">
          <div class="heading">Collaborators</div><hr>
          <div fxLayoutAlign="row wrap" class="collaboratorDesign">
          <div fxFlex=20>
          <button (click)="$event.stopPropagation()" [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}"
                    matTooltip="{{firstName | titlecase}} {{lastName | titlecase}}" mat-mini-fab class="profile-pic">
          </button>
        </div>
          <div fxLayout="column" fxFlex=80>
          <mat-content class="myName"><b>{{firstName | titlecase}} {{lastName | titlecase}}</b></mat-content>
          <mat-content class="myEmail"><i>{{email}}</i></mat-content>
          <mat-content class="myEmail"><i>(Owner)</i></mat-content>
          
        </div>
        </div>
      
        <div *ngFor="let user of collaborators" fxLayoutAlign="row wrap" class="collaboratorDesign">
          <div fxFlex=20>
          <button (click)="$event.stopPropagation()" mat-mini-fab class="profile-pic">{{user.firstName | slice:0:1}}
          </button></div>
          <div fxLayout="column" fxFlex=70>
          <mat-content class="myName"><b>{{user.firstName | titlecase}} {{user.lastName | titlecase}}</b></mat-content>
          <mat-content class="myEmail"><i>{{user.email}}</i></mat-content>
          </div>
          <div fxFlex=10><mat-icon (click)="removeCollaborator(user.userId)" style="cursor: pointer;">close</mat-icon></div>
        </div>
      
        <div fxLayoutAlign="row wrap" class="collaboratorDesign">
          <div fxFlex=20>
          <button (click)="$event.stopPropagation()" mat-mini-fab class="profile-pic">
            <mat-icon>person_add</mat-icon>
          </button></div>
          <div fxLayout="column" fxFlex=80>
          
          <mat-content class="myEmail">
            <input class="inputField_collab" placeholder="Person or email to share with" (keyup)="searchUser()"
                    [(ngModel)]="requestBody.searchWord" [matMenuTriggerFor]="appMenu">
          </mat-content>
          <mat-menu #appMenu="matMenu">
              <button (click)="addCollaborator(item)" mat-button *ngFor="let item of userList">
                {{item.firstName}} {{item.lastName}} ({{item.email}})
              </button>
          </mat-menu>
          
          
        </div>
        </div>
        <div fxLayoutAlign="end">
          <button mat-button (click)="closeCollaborator()">Save</button>
        </div>
        </mat-card>
      </div>
  <!--------------collaborator pannel ------------------------>


<!-- card with title and description st card starts  -->
    <div *ngIf="collab">

    <mat-card *ngIf="hide" (click)="hide=!hide" class="pannel">
        <mat-card-content>
                <div fxFlexLayout="row">
                    <div fxFlex=90% class="area_content" contenteditable="true" >Take
                        a Note...</div>
                    <div fxFlex=10% style="float:right">

                        <button mat-icon-button>
                            <mat-icon (click)="toggle()">check_circle_outline</mat-icon>
                        </button> 
                    </div>
                </div>
            </mat-card-content>
    </mat-card>
</div>
  
    <!-- 1 st card starts  -->


    <!-- 2nd card Starts-->
    <div *ngIf="collab">
    <mat-card class="pannel2" *ngIf="!hide" [ngStyle]="{'background-color':parentColor}">
        <mat-card-content>
       
     
        <div class="area_content" id="titleId" contenteditable="true" data-text="Title"></div>
        <div *ngIf="show == 0">
            <div  id="notesId" class="area_content" contenteditable="true" data-text="Take a Note..." (click)="checked=false"></div>
        </div>
  
  
        
         <div class = "items"></div>
        <div  *ngIf="show ==1" id="title" autofocus #description style="margin-bottom: 20px;">
            <div  *ngFor="let data of dataArray" id="note" fxLayout="row"
             style="margin-bottom: 5px;">
                <mat-checkbox fxFlex="5%"></mat-checkbox>
                <input   class="inputNote" fxFlex="90" *ngIf="show ==1" class="inputchecklist" id="note"
                 [(ngModel)]=data.data (keydown)="editing($event.data)">
                <mat-icon fxFlex="4%" (click)=ondelete(data) matTooltip="Delete" 
                style="cursor: pointer;">cancel</mat-icon>
            </div>
            <mat-divider></mat-divider>
            <div  fxLayout="row" autofocus id="notesId">
                <mat-icon fxFlex="5%">add</mat-icon>
                <input id="note" [(ngModel)]=data (click)="checked=true" fxFlex="95%" 
                class="inputNote" [(ngModel)]=data.data
                    placeholder="List item" (keydown.enter)="enter()">
            </div>
            <mat-divider></mat-divider>
        </div>
  
  
  <!--        chip list for lables   -->
        <div *ngFor="let index of labelName">
            <mat-chip-list>
                <mat-chip>{{index.label}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
       
        <!--      chip list For Rseminder Chip      -->

        <mat-chip-list>
            <div *ngFor='let reminder of reminderArr'>
                <div *ngIf="(todayDate | date:'dd/MM/yyyy') == (reminder | date:'dd/MM/yyyy')">
                    <mat-chip>
                        Today, {{reminder | date:"mediumTime"}}<span style="margin-top:5px">
                            <mat-icon matChipRemove (click)='deleteReminder()'>cancel</mat-icon>
                        </span>
                    </mat-chip>
                </div>
        
                <div *ngIf="(tomorrowDate | date:'dd/MM/yyyy') == (reminder | date:'dd/MM/yyyy')">
                    <mat-chip>
                        Tomorrow, {{reminder | date:"mediumTime"}}<span style="margin-top:5px">
                            <mat-icon matChipRemove (click)='deleteReminder()'>cancel</mat-icon>
                        </span>
                    </mat-chip>
        
                </div>
                <div *ngIf="(todayDate | date:'dd/MM/yyyy') != (reminder | date:'dd/MM/yyyy') && (tomorrowDate | date:'dd/MM/yyyy') != (reminder | date:'dd/MM/yyyy')">
                    <div *ngIf="(todayDate | date:'dd/MM/yyyy') > (reminder | date:'dd/MM/yyyy') ; else higherDate">
                        <mat-chip>
        
                            <del>{{reminder | date:"medium"}}</del> <span style="margin-top:5px">
                                <mat-icon matChipRemove (click)='deleteReminder()'>cancel</mat-icon>
                            </span>
        
                        </mat-chip>
                    </div>
                    <ng-template #higherDate>
                        <mat-chip>
                            {{reminder | date:"medium"}} <span style="margin-top:5px">
                                <mat-icon matChipRemove (click)='deleteReminder()'>cancel</mat-icon>
                            </span>
                        </mat-chip>
        
                    </ng-template>
                </div>
            </div>
        </mat-chip-list>

        <!--      chip list For Reminder Chip      -->


        <!--  All Note Buttons     -->


            <div class="function_btn" fxLayout="row wrap" fxLayoutAlign="space-around center" >

                <app-remind-btn [noteDetails]='note' (newEvent)="emitRemainder($event)"></app-remind-btn>
                <button mat-icon-button (click)="collaborator()">
                     <mat-icon style="cursor:pointer" matTooltip="Collaborator" aria-label="list" class="icons">
                     person_add</mat-icon>
                </button>
                <app-change-color [noteDetails]='note' (mainBoxColor)="changeMainBoxColor($event)"></app-change-color>
                <app-add-image></app-add-image>
               
                <app-more-btn></app-more-btn>
               
                <button style="float:right" mat-button (click)="addNotes()">close</button>
            </div>
        <!--  All Note Buttons     -->

      
    </mat-card-content>
    
    </mat-card>
</div>
  </div>
</div>
<div fxFlex="10%" > </div>
</div> 
 <!-- 2nd card Starts-->
<!-- add Note collection-->