<!-- 
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="15%" fxFlex.xs=0 fxFlex.sm=0 fxFlex.md=15 fxFlex.lg=20> </div> 
            <div fxFlex="70% "  > 
               

                
                    <div class="margin" fxLayoutAlign="center">
                        <mat-card class="pannel" *ngIf="show" >
                            <mat-card-content>
                                <div fxFlexLayout="row">
                                    <div fxFlex=80% class="area_content" contenteditable="true" (click)="show=!show">Take
                                        a Note...</div>
                                    <div fxFlex=20% style="float:right">

                                        <button mat-icon-button>
                                            <mat-icon (click)="visible=!visible">check_circle_outline</mat-icon>
                                        </button>

                                        
                                    </div>
                                </div>



                            </mat-card-content>

                        </mat-card>
                        
                        


                        <mat-card *ngIf="!show" class="pannel2" [ngStyle]="{'background-color':parentColor}">
                            <mat-card-content>

                                <div class="area_content" id="title" contenteditable="true" data-text="Title"></div>
                                <br>
                                <div id="take-note" class="area_content" contenteditable="true" data-text="Take a Note..."></div>
                                <br>
                                <mat-card-footer>
                                    <div class="function_btn" fxLayout="row wrap" fxLayoutAlign="space-around center" >

                                        <app-remind-btn></app-remind-btn>
                                        <app-collaborator></app-collaborator>
                                        <app-change-color (mainBoxColor)="changeMainBoxColor($event)"></app-change-color>
                                        <app-add-image></app-add-image>
                                       
                                        <app-more-btn></app-more-btn>
                                       
                                        <button style="float:right" mat-button (click)="close()">close</button>
                                    </div>
                                </mat-card-footer>


                            </mat-card-content>
                        </mat-card>         
</div>

             </div>
        
<div fxFlex="15%" fxFlex.xs="0" fxFlex.sm="8" fxFlex.md="16" fxFlex.lg="22"> </div>
</div> -->

<div  fxLayout="row" fxLayoutAlign="center">
        <div fxFlex="10%" > </div> 
        <div fxFlex="60% "  > 

<div fxLayout='column' fxLayoutAlign="center center" style="margin-top:100px">

    <mat-card *ngIf="hide" (click)="hide=!hide" class="pannel">
        <mat-card-content>
                <div fxFlexLayout="row">
                    <div fxFlex=80% class="area_content" contenteditable="true" >Take
                        a Note...</div>
                    <div fxFlex=20% style="float:right">

                        <button mat-icon-button>
                            <mat-icon (click)="toggle()">check_circle_outline</mat-icon>
                        </button> 
                    </div>
                </div>
            </mat-card-content>
    </mat-card>
  
    
    <mat-card class="pannel2" *ngIf="!hide" [ngStyle]="{'background-color':parentColor}">
        <mat-card-content>
       
     
        <div class="area_content" id="titleId" contenteditable="true" data-text="Title"></div>
        <div *ngIf="show == 0">
            <div  id="notesId" class="area_content" contenteditable="true" data-text="Take a Note..." (click)="checked=false"></div>
        </div>
  
  
        
         <div class = "items"></div>
        <div  *ngIf="show ==1" id="title" autofocus #description style="margin-bottom: 20px;">
            <div  *ngFor="let data of dataArray" id="note" fxLayout="row"
             style="margin-bottom: 5px;">
                <mat-checkbox fxFlex="5%"></mat-checkbox>
                <input   class="inputNote" fxFlex="90" *ngIf="show ==1" class="inputchecklist" id="note"
                 [(ngModel)]=data.data (keydown)="editing($event.data)">
                <mat-icon fxFlex="4%" (click)=ondelete(data) matTooltip="Delete" 
                style="cursor: pointer;">cancel</mat-icon>
            </div>
            <mat-divider></mat-divider>
            <div  fxLayout="row" autofocus id="notesId">
                <mat-icon fxFlex="5%">add</mat-icon>
                <input id="note" [(ngModel)]=data (click)="checked=true" fxFlex="95%" 
                class="inputNote" [(ngModel)]=data.data
                    placeholder="List item" (keydown.enter)="enter()">
            </div>
            <mat-divider></mat-divider>
        </div>
  
  
  
        <div *ngFor="let index of labelName">
            <mat-chip-list>
                <mat-chip>{{index.label}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
       
      
            <div class="function_btn" fxLayout="row wrap" fxLayoutAlign="space-around center" >

                <app-remind-btn></app-remind-btn>
                <app-collaborator></app-collaborator>
                <app-change-color [noteDetails]='note' (mainBoxColor)="changeMainBoxColor($event)"></app-change-color>
                <app-add-image></app-add-image>
               
                <app-more-btn></app-more-btn>
               
                <button style="float:right" mat-button (click)="addNotes()">close</button>
            </div>
      
    </mat-card-content>
    
    </mat-card>
  </div>
</div>
<div fxFlex="10%" > </div>
</div> 