.notes{
    width:100%;
    height:100%;
    background:  rgba(0, 0, 0, 0.2);
   
}

.pannel{
    
    margin-top:50px;
    width:500px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.20);
    border-radius: 5px;
    height:30px;

   
}

.pannel2{
    border-radius: 15px;
    margin-top:50px;
    width:500px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.20);

}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.area_content{
    width:100%;
    
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-size: 20px;
    outline: none;
   
   

}
.margin{
    margin:auto;
}



.colorPalette {
    border-radius: 100%;
    outline: none;
    border: none;
    width: 0px;
    height: 30px;
  }
  .fundoo33 {
    margin-left: 0px;
    opacity: 0.5;
  }
  .colorCard {
    left: 331px;
    margin-top: -692px;
    width: 144px;
    padding: 3px;
  }
  .colorDiv{
    margin-bottom:5px;
    display:flex;
  }
  .pannel3{
    width:100%;
    box-shadow: 0 10px 10px rgba(0,0,0,0.20);

  }
  .area_content2 {
    width: 100%;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-size: 20px;
    outline: none;
    border:transparent;
    border:none;
    padding-top:10px;
  }
  .inputchecklist{
      border:none;
      outline:none;
      background: transparent;
      

  }
  



// .mat-card
// {
//     padding: 8px;
//     width: 45%;
// }
// .click
// {
//   cursor: pointer;
// }
// .noteButton
// {
//     float: right;
//     padding-right: 2%;
// }
// .close
// {
//     float: right;
// }
// .reset
// {
//     border: none;
//     border-color: transparent;
//     outline: none;
//     width: 100%;
//     word-wrap: break-word;
//     font-style: bold;
// }
// .edit
// {
//     padding-top: 6%;
//     border: none;
//     border-color: transparent;
//     outline: none;
//     width: 100%;
//     word-wrap: break-word;
//     margin-bottom: 10px;
// }
// [contentEditable=true]:empty:not(:focus):before{
//     content:attr(data-text)
// }
// .space
// {
//     padding-top: 4%;
// }
// .edit1
// {
//     border: none;
//     border-color: transparent;
//     outline: none;
//     width: 100%;
//     word-wrap: break-word;
// }
// .topping{
//     padding-top: 4%;
// }.pin{
//     float: right;
//     cursor: pointer;
// }
// .check{
//     margin-bottom: 10px;

// }
.items
{
    margin-bottom: 10px;
}
