<div fxLayout="column" fxLayoutGap="2%">
    <div fxFlex="0"> </div>
    <div fxFlex="100" fxFlex.xs="0" fxFlex.sm="12" fxFlex.md="24" fxFlex.lg="36" fxFlex.xl="48">
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="20%" fxFlex.xs="0" fxFlex.sm="8" fxFlex.md="16" fxFlex.lg="22"> </div>
            <div fxFlex="80% " fxFlex.xs="100%" fxFlex.sm="84" fxFlex.md="68" fxFlex.lg="56">
                <!-- ---------------work Area------------------------ -->

                <div *ngIf="visible">
                    <div class="margin">
                        <mat-card class="pannel" *ngIf="show">
                            <mat-card-content>
                                <div fxFlexLayout="row">
                                    <div fxFlex=80% class="area_content" contenteditable="true" (click)="show=!show">Take
                                        a Note...</div>
                                    <div fxFlex=20% style="float:right">

                                        <button mat-icon-button>
                                            <mat-icon (click)="visible=!visible">check_circle_outline</mat-icon>
                                        </button>

                                        <button mat-icon-button>
                                            <mat-icon>add_photo_alternate</mat-icon>
                                        </button>

                                        <button mat-icon-button>
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </div>
                                </div>



                            </mat-card-content>

                        </mat-card>

                        <!--                 2nd Card                 -->

                        <mat-card *ngIf="!show" class="pannel2" [ngStyle]="{'background-color':parentColor}">
                            <mat-card-content>

                                <div class="area_content" id="title" contenteditable="true" data-text="Title"></div>
                                <br>
                                <div id="take-note" class="area_content" contenteditable="true" data-text="Take a Note..."></div>
                                <br>
                                <mat-card-footer>
                                    <div fxLayout="row" fxLayoutAlign="space-around center">

                                        <app-remind-btn></app-remind-btn>
                                        <app-collaborator></app-collaborator>
                                        <app-change-color (mainBoxColor)="changeMainBoxColor($event)"></app-change-color>
                                        <app-add-image></app-add-image>
                                        <app-archive-btn></app-archive-btn>
                                        <app-more-btn></app-more-btn>
                                        <button class="img_btn" mat-icon-button>
                                            <mat-icon matTooltip="undo">undo</mat-icon>
                                        </button>
                                        <button class="img_btn" mat-icon-button>
                                            <mat-icon matTooltip="redo">redo</mat-icon>
                                        </button>
                                        <button style="float:right" mat-button (click)="close()">close</button>
                                    </div>
                                </mat-card-footer>


                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>

                <!--    --------         3rd Card      --------------         -->
                <div>
                    <mat-card *ngIf="!visible" class="pannel3">
                    
                        <div class="area_content" id="title" contenteditable="true" data-text="Title"></div>
                        <hr>
                        <div class=row_container3 FxFlexLayout="row">
                            <div fxFlex=10%>
                                    <button class="img_btn" mat-icon-button>
                                            <mat-icon matTooltip="add"  >add</mat-icon>
                                    </button>
                            </div>
                             <div fxFlex=80% id="take-note" class="area_content2" data-text="List Item" *ngFor="let items of array">
                                <mat-checkbox> 
                                    <div   >

                                     </div>
                                    
                                </mat-checkbox>
                               <!-- <div>
                                    <mat-checkbox>
                                        <input placeholder="items" type="text" (keydown)="nextLine($event)" [(ngModel)]="items.checkText">
                                    </mat-checkbox>
                                </div>
                        -->

                            </div>





                        </div>
                        <mat-card-footer>
                                <div fxLayout="row" fxLayoutAlign="space-around center">

                                    <app-remind-btn></app-remind-btn>
                                    <app-collaborator></app-collaborator>
                                    <app-change-color (mainBoxColor)="changeMainBoxColor($event)"></app-change-color>
                                    <app-add-image></app-add-image>
                                    <app-archive-btn></app-archive-btn>
                                    <app-more-btn></app-more-btn>
                                    <button class="img_btn" mat-icon-button>
                                        <mat-icon matTooltip="undo">undo</mat-icon>
                                    </button>
                                    <button class="img_btn" mat-icon-button>
                                        <mat-icon matTooltip="redo">redo</mat-icon>
                                    </button>
                                    <button style="float:right" mat-button (click)="closeChecklist()">close</button>
                                </div>
                            </mat-card-footer>
                    
                    
                    </mat-card>


                </div>



                <!-- ---------------work Area------------------------ -->
            </div>
            <div fxFlex="20%" fxFlex.xs="0" fxFlex.sm="8" fxFlex.md="16" fxFlex.lg="22"> </div>
        </div>
    </div>
    <div fxFlex="0"> </div>
</div>