<div class="main_card">
 
  <div class="header_collaborator">Collaborator </div>
  <hr>
  
  <div>
  
    <div fxLayout="row">
        <div fxFlex.xs=20  fxFlex.sm=20 fxFlex.md=20 fxFlex.lg=10 fxFlex.xl=10 fxFlex.lt-sm=10 fxFlex.lt-md=10 fxFlex.lt-xl =10 fxFlex.gt-xs=10 fxFlex.gt-md=10 fxFlex.gt-lg=10 >
            <button class="profilebutton2"  [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}"> </button>
          </div>
     
      <div fxFlex.xs=70  fxFlex.sm=70 fxFlex.md=70 fxFlex.lg=80 fxFlex.xl=80 fxFlex.lt-sm=80 fxFlex.lt-md=80 fxFlex.lt-xl =80 fxFlex.gt-xs=80 fxFlex.gt-md=80 fxFlex.gt-lg=80 fxLayout="column">
        <span class="name_email bold" > {{owner.firstName | titlecase}}{{owner.lastName | titlecase}} <i> (owner)</i></span>
        <span class="name_email bold"> {{owner.email}}</span>
      </div>
    </div>
    
    <div class="content_scroller">
      <div fxLayout="row" *ngFor="let data of collaborator">
        <div fxFlex.xs=10  fxFlex.sm=10 fxFlex.md=20 fxFlex.lg=10 fxFlex.xl=10 fxFlex.lt-sm=10 fxFlex.lt-md=10 fxFlex.lt-xl =10 fxFlex.gt-xs=10 fxFlex.gt-md=10 fxFlex.gt-lg=10 >
          <button mat-mini-fab color="basic" class="profilebutton2 person_button"> {{data.firstName |titlecase| slice:0:1}}</button>
        </div>
        <div  fxFlex.xs=80  fxFlex.sm=80 fxFlex.md=70 fxFlex.lg=80 fxFlex.xl=80 fxFlex.lt-sm=80 fxFlex.lt-md=80 fxFlex.lt-xl =80 fxFlex.gt-xs=80 fxFlex.gt-md=80 fxFlex.gt-lg=80 fxLayout="column">
          <div class="name_email bold" >{{data.firstName | titlecase}}{{data.lastName | titlecase}}</div>
          <div class="name_email" > {{data.email}}</div>
        </div>
        <div fxFlex.xs=10  fxFlex.sm=10 fxFlex.md=10 fxFlex.lg=10 fxFlex.xl=10 fxFlex.lt-sm=10 fxFlex.lt-md=10 fxFlex.lt-xl =10 fxFlex.gt-xs=10 fxFlex.gt-md=10 fxFlex.gt-lg=10 class="close_icon">
          <mat-icon (click)=deleteCollaborator(data.userId)>close</mat-icon>
        </div>
      </div>
    </div>
     

    <div class="user_area" fxLayout="row">
      <span>  
        <button mat-mini-fab color="basic" class="person_button">
          <mat-icon>person_add</mat-icon>
       </button>
      </span>
       <span>
          <input class="searchbar"   placeholder="person or email to share with" (keyup)="searchUser()"
          [(ngModel)]="body.searchWord" [matMenuTriggerFor]="appMenu">
      </span>
      <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
        <div *ngFor="let item of userList" (click)=addColaborator(item)>
           {{item.email}}
        </div>

      </mat-menu>
    </div>
    
  </div>
  <div fxLayoutAlign="end end">
   <div class="button" fxLayoutGap="10px">
      <button  mat-raised-button color="primary" (click)="close()" > CLOSE</button>
    
  </div>
  </div>
</div>


 

