@import '../../../scss/mixing';
$font: 'Roboto',arial,sans-serif;
.main_card{
    

        .profilebutton2{
                 width:50px; 
                 height:50px; 
                 border: none;
                 border-radius: 50%;
                 background: transparent;
                    outline:none;
   
                     }
        .name_email{
                 @include font-size(18px);
                 @include font(Times New Roman);
                 @include font-weight(300);
                 margin-left: 20px;
                     }
        .header_collaborator{
                 font-family: $font;
                 @include font-size(22px);
                 @include font-weight(500)
                     }

        .end_buttons{
                 margin-right:20px
        }
        .person_button{
                 margin-top:10px;
                 border: solid;
                 border-width:thin;
        }
        .searchbar {
            border: none;
            font: normal 14px Roboto,sans-serif;
            font-variant-ligatures: none;
            height: 30px;
            outline: none;
            padding: 11px 16px 11px 16px;
            box-sizing: border-box;
            width:500px;
           
          
          }
          .user_area{
              margin-top:20px;
          }
  
}
  
  