<div fxLayout="column">
<app-add-note  (onNewEntryAdded)='addNewEntry($event)'></app-add-note>
<div *ngIf='notesPin.length!==0'>
<div class="pinned" >pinned</div>

<app-note-collection [notesArray]="notesPin" 
                     (deleteParent)="addNewEntry($event)" 
                     (changeColorAgain)="addNewEntry($event)">
</app-note-collection>


<div class="others">Others</div>
<app-note-collection [notesArray]="notes" 
                     (deleteParent)="addNewEntry($event)" 
                     (changeColorAgain)="addNewEntry($event)">
</app-note-collection>
</div>
<div *ngIf='notesPin.length==0'>

<app-note-collection [notesArray]="notes" 
                     (deleteParent)="addNewEntry($event)" 
                     (changeColorAgain)="addNewEntry($event)">
</app-note-collection>
</div>
</div>