// .colorPalette {
//     border-radius: 100%;
//     outline: none;
//     border: none;
//     width: 30px;
//     height: 30px;
   
//   }
//   .fundoo33 {
//     margin-left: 0px;
//     opacity: 0.7;
//   }
//   .colorCard {
//     left: 331px;
//     margin-top: -692px;
//     width: 160px;
//     padding: 5px;
//   }
//   .colorDiv{
//     margin-bottom:5px;
//     display:flex;
//     width:150px;
//   }
//   .mat-menu-content:not(:empty) {
//     padding-top: 8px;
//     padding-bottom: 8px;
//     width: 200px;
//     box-sizing: none;
//     outline: none;
// }
.icon{
  opacity: 0.75;;
}
.buttons{
width:50px;
margin-top:10px;
padding-left:20px;

}