<!-- The ChangeColor Icon-->
<button  mat-icon-button >
<mat-icon class="icon" matTooltip="Change color" aria-label="change color" 
    [matMenuTriggerFor]="appMenu">palette 
  </mat-icon>
</button>
<!-- The Matmenu of the change card options-->
<mat-menu #appMenu="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent >
      <div >
          <div  fxLayoutGap=10px style="margin-top:5px"  > 
                  <div fxLayout="row  wrap" *ngFor='let color of colorArray'  class="buttons">
                      <button class="colorButton" [ngStyle]="{'background-color': color.color }" 
                          (click)='setcolor(color.color)' matTooltip="{{color.name}}"
                            mat-mini-fab>
                       </button>
                  </div>
          </div>
      </div>
      </ng-template>
</mat-menu>