<div  fxShow=true  fxFlex=10% ></div>
<div  fxLayout="row wrap" fxLayoutAlign="start start"  fxLayoutGap="20px" style=" margin-bottom:50px ;margin-top:20px">
  <mat-card class="card" 
  
            *ngFor='let notes of notesArray | LockFilter: searchNote' 
            [style.backgroundColor]="notes.color">
    <div [ngClass]="{
    'cardgrid':!toggle,
    'cardlist':toggle 
    }">
    <div fxLayout="column" >
      <span fxLayoutAlign="space-between none">
      <mat-card-title class="title" [innerHTML]="notes.title" (click)=openDialog(notes)>
      
      </mat-card-title>
      <app-pin [arrayPin]="notes" (emitter)="changeColor($event)"></app-pin>
    </span>
      <br>
      <mat-card-content class="description" [innerHTML]="notes.description" (click)=openDialog(notes)>
        


      </mat-card-content>

<div *ngFor="let checklist of notes.noteCheckLists" fxLayout="row" class="check">
  
  <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open'&& !checklist.isDeleted"
    (click)=checkBox(checklist,notes)>
  </mat-checkbox>
    <input *ngIf="!checklist.isDeleted && checklist.status=='open' " 
    [(ngModel)]=checklist.itemName fxFlex="90%" class="check"
    (click)="open(notes)" [style.backgroundColor]="notes.color">
 </div> 

    <div *ngFor="let checklist of notes.noteCheckLists" fxLayout="row"  class="check">
    <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close'&& !checklist.isDeleted"
    (click)=checkBox(checklist,notes)>
    </mat-checkbox>
   
    <del class = "check" *ngIf="!checklist.isDeleted && checklist.status=='close'" 
    (click)="open(notes)">{{checklist.itemName}}</del>
    </div>
   
    </div>

    <div fxLayout="row wrap" fxLayoutGap="10px">
      <div *ngFor="let item of notes.noteLabels" >
    <mat-chip-list class="chip">
        <mat-chip class="chip_color" *ngIf="item.isDeleted==false">
            <span class="span">{{item.label}}</span>
          <mat-icon class="delete_label"
                    mat-button (click)="removeLabel(notes.id,item.id)">cancel</mat-icon>
        </mat-chip>
     </mat-chip-list>
    </div>
  </div>
  <br>
  <!--- chip list for reminders starts--->
  <div *ngIf="notes.reminder.length!=0" fxLayout="row wrap" fxLayoutGap="10px">
<mat-chip-list>
    <div *ngFor='let reminder of notes.reminder'>
        <div *ngIf="(todayDate | date:'dd/MM/yyyy') == (reminder | date:'dd/MM/yyyy')">
            <div *ngIf="!checkReminder(reminder)">
                <mat-chip>
                    Today, {{reminder | date:"mediumTime"}}<span style="margin-top:5px">
                        <mat-icon matChipRemove (click)='removeReminder(notes.id)'>cancel</mat-icon>
                    </span>
                </mat-chip>
            </div>
            <div *ngIf="checkReminder(reminder)">
                <mat-chip>
                    <del>Today, {{reminder | date:"mediumTime"}}</del><span style="margin-top:5px">
                        <mat-icon matChipRemove (click)='removeReminder(notes.id)'>cancel</mat-icon>
                    </span>
                </mat-chip>
            </div>
        </div>
        <div *ngIf="(tomorrowDate | date:'dd/MM/yyyy') == (reminder | date:'dd/MM/yyyy')">
            <div *ngIf="!checkReminder(reminder)">
                <mat-chip>
                    Tomorrow, {{reminder | date:"mediumTime"}}<span style="margin-top:5px">
                        <mat-icon matChipRemove (click)='removeReminder(notes.id)'>cancel</mat-icon>
                    </span>
                </mat-chip>
            </div>
            <div *ngIf="checkReminder(reminder)">
                <mat-chip>
                    <del>Tomorrow, {{reminder | date:"mediumTime"}}</del><span style="margin-top:5px">
                        <mat-icon matChipRemove (click)='removeReminder(notes.id)'>cancel</mat-icon>
                    </span>
                </mat-chip>
            </div>
        </div>
        <div *ngIf="(todayDate | date:'dd/MM/yyyy') != (reminder | date:'dd/MM/yyyy') && (tomorrowDate | date:'dd/MM/yyyy') != (reminder | date:'dd/MM/yyyy')">
            <div *ngIf="checkReminder(reminder)">
                <mat-chip>
                    <del>{{reminder | date:"medium"}}</del> <span style="margin-top:5px">
                        <mat-icon matChipRemove (click)='removeReminder(notes.id)'>cancel</mat-icon>
                    </span>
                </mat-chip>
            </div>
            <div *ngIf="!checkReminder(reminder)">
                <mat-chip>
                    {{reminder | date:"medium"}} <span style="margin-top:5px">
                        <mat-icon matChipRemove (click)='removeReminder(notes.id)'>cancel</mat-icon>
                    </span>
                </mat-chip>
            </div>
        </div>
    </div>
</mat-chip-list>


  </div>
  <div>
    
     <!--- chip list for reminders Ends--->
     <!--collababorator icon-->
     <div fxLayout="row wrap" class="space_between" fxLayoutGap="5px">
            <div *ngFor="let index of notes.collaborators">
            <button mat-mini-fab class="reminder_btn" (click)=openCollaborator(notes)>{{index.firstName | titlecase | slice:0:1 }}</button>
            </div>
    </div>
    </div>

    <mat-card-actions>
      <div fxLayoutAlign="space-evenly end" class="icon">
        <app-remind-btn [noteDetails]="notes" (todayEvent)=addReminder($event)></app-remind-btn>
        <app-collaborator [noteDetails]="notes" (addCollaborator)=addColaboratorEvent($event)  ></app-collaborator>
        <app-change-color [noteDetails]="notes" 
                          (notescolor)="changeColor($event)"></app-change-color>
        <app-add-image></app-add-image>
        <app-archive-btn [archive]="notes" (archiveNote)="archiveParent($event)" (unArchiveNote)="unArchive($event)"> </app-archive-btn>
        <app-more-btn [noteDetails]="notes" (notesDelete)="deleteDone($event)"></app-more-btn>
      </div>
    </mat-card-actions>
    <div *ngIf="notes.questionAndAnswerNotes.length==0">
    
        </div>
        <div *ngIf="notes.questionAndAnswerNotes.length!=0">
           <hr>
            <div class="head" ><b>Question Asked</b></div>
            <div class="question_content" [innerHTML]="notes.questionAndAnswerNotes[0].message | titlecase" ></div>
        </div>

</div>


  </mat-card>

</div>


