
<div fxLayout="row wrap" fxLayoutWrap fxLayoutAlign="center center" fxLayoutGap="20px" style=" margin-bottom:50px ;margin-top:20px">
  <mat-card class="card" 
            *ngFor='let notes of notesArray | LockFilter: searchNote' 
            [style.backgroundColor]="notes.color">
    <div [ngClass]="{
    'cardgrid':!toggle,
    'cardlist':toggle 
    }">
    <div fxLayout="column" >
      <mat-card-title class="title" [innerHTML]="notes.title" (click)=openDialog(notes)>
      
      </mat-card-title><app-pin [arrayPin]="notes" (emitter)="changeColor($event)"></app-pin>
      <br>
      <mat-card-content class="description" [innerHTML]="notes.description" (click)=openDialog(notes)>
        


      </mat-card-content>

<div *ngFor="let checklist of notes.noteCheckLists" fxLayout="row" class="check">
  
  <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open'&& !checklist.isDeleted"
    (click)=checkBox(checklist,notes)>
  </mat-checkbox>
    <input *ngIf="!checklist.isDeleted && checklist.status=='open' " 
    [(ngModel)]=checklist.itemName fxFlex="90%" class="check"
    (click)="open(notes)" [style.backgroundColor]="notes.color">
 </div> 

    <div *ngFor="let checklist of notes.noteCheckLists" fxLayout="row"  class="check">
    <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close'&& !checklist.isDeleted"
    (click)=checkBox(checklist,notes)>
    </mat-checkbox>
   
    <del class = "check" *ngIf="!checklist.isDeleted && checklist.status=='close'" 
    (click)="open(notes)">{{checklist.itemName}}</del>
    </div>
   
    </div>

    <div fxLayout="row wrap" fxLayoutGap="10px">
      <div *ngFor="let item of notes.noteLabels" >
    <mat-chip-list class="chip">
        <mat-chip class="chip_color" *ngIf="item.isDeleted==false">{{item.label}}
          <mat-icon class="delete_label"
                    mat-button (click)="removeLabel(notes.id,item.id)">cancel</mat-icon>
        </mat-chip>
     </mat-chip-list>
    </div>
  </div>
  <br>
  <div *ngIf="notes.reminder.length!=0">
    <mat-chip-list class="chip">
    <mat-chip  class="chip_color">
    <mat-icon (click)="removeReminder(notes.id)">query_builder</mat-icon>{{notes.reminder | date:'medium'}}
    <mat-icon (click)="$event.stopPropagation(); removeReminder(notes.id)">
    cancel</mat-icon>
    </mat-chip>
    </mat-chip-list>
    </div>

    <mat-card-actions>
      <div fxLayoutAlign="space-evenly end" class="icon">
        <app-remind-btn [noteDetails]="notes" (todayEvent)=addReminder($event)></app-remind-btn>
        <app-collaborator></app-collaborator>
        <app-change-color [noteDetails]="notes" 
                          (notescolor)="changeColor($event)"></app-change-color>
        <app-add-image></app-add-image>
        <app-archive-btn [archive]="notes" (archiveNote)="archiveParent($event)" (unArchiveNote)="unArchive($event)"> </app-archive-btn>
        <app-more-btn [noteDetails]="notes" (notesDelete)="deleteDone($event)"></app-more-btn>
      </div>
    </mat-card-actions>

</div>
  </mat-card>

</div>