<!--The forgot password page  -->
<div fxLayout="column" fxLayoutGap="11%">
  <div fxFlex="25"> </div>
  <div fxFlex="50" fxFlex.xs="0" fxFlex.sm="12" fxFlex.md="24" fxFlex.lg="36" fxFlex.xl="48">
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="38%" fxFlex.xs="0" fxFlex.sm="8" fxFlex.md="16" fxFlex.lg="22"> </div>
      <div fxFlex="24% " fxFlex.xs="100%" fxFlex.sm="84" fxFlex.md="68" fxFlex.lg="56">
        <mat-card class="container2">
          <div class="header">
            <div class="logo" fxLayoutAlign="center">
              <span class="blue"> F </span>
              <span class="red"> U </span>
              <span class="yellow"> N </span>
              <span class="blue"> D </span>
              <span class="green"> O </span>
              <span class="red"> O </span>
            </div>
            <!-- Head tags-->
            <h2 fxLayoutAlign="center"> Find Your Email</h2>
            <h3 fxLayoutAlign="center"> Enter your Email for Recovery</h3>


            <div fxLayout="column" [formGroup]="recoveryForm">
              <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" [(ngModel)]="body.email" required>
              </mat-form-field>
              <div class="button-row" fxLayoutAlign="space-between center">

                <a mat-button routerLink="/signup" style="color: blue"> <b>Create account </b></a>

                <button mat-raised-button color="primary" (click)="recovery()">Next</button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div fxFlex="20%">
      </div>
    </div>
  </div>
  <div fxFlex="25"></div>
</div>
<!--The forgot password page  -->