@import'../../../scss/mixing';    //using mixins for the common title



.blue{    
  @include title(#4285F4,50px,bold);
  @include  font('cursive')

  }
  .red{
    @include title(#EA4335,28px,bold);
    @include  font('Times New Roman')
  }
  .green{
    @include title(#FBBC05,22px,bold);
    @include  font('Times New Roman')
  }
  .yellow{
    @include title(#34A853,22px,bold);
    @include  font('Times New Roman')
  }




.container {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    
   
  }
  
  .container > * {
    width:100%;
  }


.button-row button,
.button-row a {
  margin-right: 8px;
}

    .red2{
      color: rgb(253, 21, 0);
      @include font-size(38px);
      }
    .logo{
        margin: 8px;
        @include font(sans-serif);
        font-weight: bold;
        padding: 0px;
      }
      .field{
        width:50%
      }
      .services{
        color: red;
        font-family: 'Courier New', Courier, monospace;
        @include font-size(24px);
      }
      .card1{
        display: flex;
        flex-direction: column;
        width: 150px;
        height:120px;
        border-radius: 15px;
        color:white;
        text-transform: uppercase;
        
      }
      
      .signin{
          color:blue;
          @include font-size(20px);
              }
      .signup_button{
        @include font-size(20px);
      }
      .fname{
      width:45%
      }
      .lname{
        width:45%
      }
      .maindiv{
        width:50%
      }
      .notselected{
           background-color:black;

      }
      .selected{
        background-color: rgba(142, 235, 88, 0.849);
      }
       button:disabled,
button[disabled]{
  border: 1px solid #0004ffd7;
  color: #000000;
  cursor:progress;
  text-decoration-color: #000000
} 