<div fxLayout="column" fxLayoutGap="1%">
  <div fxFlex="25"> </div>
  <div fxFlex="50" fxFlex.xs="0" fxFlex.sm="12" fxFlex.md="24" fxFlex.lg="36" fxFlex.xl="48">
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="20%" fxFlex.xs="0" fxFlex.sm="5" fxFlex.md="10" fxFlex.lg="15"> </div>
      <div fxFlex="60% " fxFlex.xs="100" fxFlex.sm="90" fxFlex.md="80" fxFlex.lg="70">
        <mat-card class="container" >
          <div class="header">
            <div class="logo" dir="ltr" fxLayoutGap="70px">
              <span class="blue"> F </span>
              <span class="red"> U </span>
              <span class="yellow"> N </span>
              <span class="blue"> D </span>
              <span class="green"> O </span>
              <span class="red2"> O </span>
            </div>

            <h2> Create your Fundoo Account</h2>
          </div>
          <div fxLayout="column" class="maindiv" [formGroup]="regform" >


            <span fxLayout="row" fxLayoutGap="10%" fxLayout="row wrap">
              <mat-form-field class="fname">
                <input matInput placeholder="FirstName" [(ngModel)]="body.firstName" formControlName="firstName" required>
              <mat-error *ngIf="regform.controls.firstName.hasError('required')">  
                please enter a valid FirstName
              </mat-error>
              </mat-form-field>

              <mat-form-field class="lname">
                <input matInput placeholder="Last Name" [(ngModel)]="body.lastName" formControlName="lastName" required>
                <mat-error *ngIf="regform.controls.lastName.hasError('required')">
                  please enter a valid LastName
                </mat-error>

              </mat-form-field>



            </span>
            <div fxLayout="column">
              

              <mat-form-field>
                <input matInput placeholder="Email" C formControlName="email">
                <mat-error *ngIf="regform.controls.email.hasError('required')">
                  please enter a valid Email
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Phone Number" [(ngModel)]=" body.phoneNumber" formControlName="phoneNumber" required>
                <mat-error *ngIf="regform.controls.phoneNumber.hasError('required')">
                  please enter a valid input
                </mat-error>
              </mat-form-field>




            </div>

            <span fxLayout="row" fxLayoutGap="10%" fxLayout="row wrap">
              <mat-form-field class="fname">
                <input type="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [(ngModel)]="body.password" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="regform.controls.password.hasError('required')">
                  please enter a valid input
                </mat-error>
              </mat-form-field>
              <mat-form-field class="lname">
                <input type="password" matInput [type]="hide ? 'password' : 'text'" placeholder="confirm Password" formControlName="confirmpassword">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="regform.controls.confirmpassword.hasError('required')">
                  please enter a valid input
                </mat-error>
              </mat-form-field>
            </span>


            <div>
              <h3 class="services"> services</h3>
              <div fxLayout="row" fxLayoutGap="10" fxLayout="row wrap">

                <span *ngFor='let card of cards' style="padding:20px">
                  <mat-card class="card1" matbutton (click)=respond(card) [ngClass]="card.select ? 'selected' : 'notselected'">
                    <mat-card-title>{{card.name}}</mat-card-title>

                    <mat-card-content>{{card.description}}</mat-card-content>

                  </mat-card>

                </span>

              </div>
            </div>
            <div class="button-row" fxLayoutAlign="space-between center">
              <a class="signin " mat-button routerLink="/login"> <b>Sign in instead</b></a>
              <button class="signup_button" mat-raised-button color="primary" (click)="submit()" [disabled]="regform.invalid" >Sign Up</button>

            </div>

          </div>

        </mat-card>
      </div>
      <div fxFlex="20%">  
      </div>
    </div>
  </div>
  <div fxFlex="25"></div>
</div>